html {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeBtn {
  font-weight: normal;
  color: #b3b3b3;
  min-height: 20px;
  margin-left: 2%;
  cursor: pointer;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  padding-left: 0.1%;
  padding-right: 0.1%;
  border: 2px solid #333;
  border-radius: 10%;
}
.homeBtn:active {
  background-color: #333;
}

.search {
  width: 20%;
  height: 30px;
  margin-right: 40%;
  text-align: center;
}

.searchBar {
  width: 100%;
  height: 100%;
  background-color: black;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  border-width: 1px;
  caret-color: white;
  outline: none;
  text-indent: 9%;
  color: white;
}
@media(max-width: 1300px) {
  .searchBar {
    text-indent: 30px;
  }
}

.searchBar:hover {
  background-color: #292929;
}
.searchIcon {
  position: absolute;
  left: 40.5%;
  top: 40%;
  width: 20px;
}

.dropdown {
  position: relative;
  border: 1px solid #333;
  border-radius: 2%;
  margin-top: 1%;
  width: 101%;
  z-index: 1;
  background-color: #292929;
}

.menuComponent {
  display: flex;
}
.menuComponent:hover {
  cursor: pointer; 
  background-color: #333;
}

.menuTicker {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  text-indent: 9.5%;
  font-family: Capsula Sans, Sans-Serif, Geometric, Minimal;
  font-size: 80%;
  margin-left: 8.5%;
  min-width: 15%;
}

.menuName {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Capsula Sans, Sans-Serif, Geometric, Minimal;
  font-size: 80%;
  margin-left: 10%;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.chartDiv {
  position: relative;
  left: 3%;
  margin-left: 7%;
  margin-top: 1%;
  width: 50%;
}

.chartText {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 230%;
}

.chartSubHead {
  font-weight: bold;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.portChart {
  margin-top: 5%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-top: 2%;
}

.timeButton {
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font: "normal";
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.timeButton:hover {
  font-weight: bold;
}

.line {
  border: none;
  height: 1px;
  background-color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
}

.SidePanel {
  border: 1px solid;
  border-radius: 5px;
  border-color: #333;
  width: 15%;
  min-width: 215px;
  margin-right: 14%;
}

.listHead {
  text-align: center;
  cursor: default;
}

.listView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 80%;
  max-width: 100%;
}

.listView:hover {
  background-color: #333;
  cursor: pointer;
}

.watchNameDiv {
  min-width: 15%
}

.watchName {
  font-weight: bold;
}

.watchChart {
  padding-left: 1%;
  max-height: 55%;
}

.numberPercent {
  text-align: center;
}

.buySell {
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
}

.exchangeBtn {
  background-color: transparent;
  border: 0px;
  outline: 0px;
  margin-left: 6%;
  color: white;
  font-size: 120%;
  cursor: pointer;
}

.exchangeBtn:hover {
  color: rgb(3, 98, 252);
}

.exchangeSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.disclaimer {
  font-size: 80%;
  color: #808080;
  text-align: center;
}

.exchangeInput, .exAmount {
  background-color: black;
  border: 1px solid;
  border-radius: 5px;
  border-color: #333;
  color: white;
  outline: 0px;
  margin-right: 5%;
  width: 40%;
  height: 30px;
}

.exAmount {
  text-align: left;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.exchangeNum {
  margin-right: 6%;
  font-size: 90%;
}

.submit {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid;
  border-color: #333;
  border-radius: 50px;
  width: 60%;
  height: 8%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 0%;
}

.submit:hover {
  background-color: #333;
}

.submit:active {
  background-color: #292929;
}

@media (max-width: 900px) {
  .head {
    height: 80px;
  }
  .homeBtn {
    font-size: 5vw;
  }
  .search {
    margin-right: 2%;
    width: 81%;
  }
  .searchIcon {
    left: 18%;
  }
  .main {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .chartDiv {
    position: static;
    margin-left: 0%;
    width: 100%;
  }
  .chartText {
    margin-left: 2%;
  }
  .chartSubHead {
    margin-left: 2%;
  }
  .buttonDiv {
    justify-content: space-around;
    margin-left: 15%;
    width: 70%;
  }
  .timeButton {
    max-width: 30px;
  }
  .SidePanel {
    width: 90%;
    margin-right: 0%;
    border-color: transparent;
  }
  .submit {
    height: 50px;
  }
}
