html {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
}

.head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeBtn {
  margin-left: 2%;
}

.search {
  width: 20%;
  height: 30px;
  margin-right: 40%;
  text-align: center;
}

.searchBar {
  width: 100%;
  height: 100%;
  background-color: black;
  border: solid;
  border-color: #333;
  border-radius: 10px;
  border-width: 1px;
  caret-color: white;
  outline: none;
  text-indent: 10%;
  color: white;
}

.searchBar:hover {
  background-color: #333;
}
.searchIcon {
  position: absolute;
  left: 40.5%;
  top: 40%;
  width: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.chartDiv {
  position: relative;
  left: 3%;
  margin-left: 7%;
  margin-top: 1%;
  width: 50%;
}

.chartText {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 230%;
}

.portChart {
  height: 80%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin-top: 2%;
}

.timeButton {
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font: "normal";
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.timeButton:hover {
  font-weight: bold;
}

.line {
  border: none;
  height: 1px;
  background-color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
}

.WatchList {
  border: 1px solid;
  border-radius: 5px;
  border-color: #333;
  width: 15%;
  min-width: 215px;
  margin-right: 14%;
}

.listHead {
  text-align: center;
  cursor: default;
}

.listView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 80%;
  max-width: 100%;
}

.listView:hover {
  background-color: #333;
  cursor: pointer;
}

.watchName {
  font-weight: bold;
}

.watchChart {
  max-height: 50%;
}

.numberPercent {
  text-align: center;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .search {
    margin-right: 2%;
    width: 81%;
  }
  .searchBar {
    text-indent: 8%;
  }
  .searchIcon {
    left: 18%;
  }
  .chartDiv {
    position: static;
    margin-left: 0%;
    width: 100%;
  }
  .chartText {
    margin-left: 5%;
  }
  .buttonDiv {
    justify-content: space-around;
    margin-left: 15%;
    width: 70%;
  }
  .timeButton {
    max-width: 30px;
  }
  .WatchList {
    width: 90%;
    margin-right: 0%;
    border-color: transparent;
  }
}